body {
    background-color: #7FFFD4;
    max-width: 800px;
    margin: 0 auto;
}    
h1 {
    font-family: Georgia, cursive;
    color: #800000;
    margin: 1em;
    text-align: center;
    
    height: 50px;
    }
form {
    color: #800000;
    
    height: 300px;
    width: 700px;
    margin: 5px;
    padding: 50px;
    font-size: medium;
    font-family: sans-serif;
    
}
input {
    background-color: #F5F5F5;
    max-width: 400px;
    margin: 5px;
    border: 2px solid black;
    height: 50px;
    text-align: center;
    font-size: medium;
}
button {
    background-color: #FF00FF;
    color: #800000;
    width: 200px;
    font-size: medium;
    margin: 50px;
    height: 50px;
    
}
